<app-confirmation-dialog [confirmDisabled]="!measurementForm.valid && measurementForm.dirty"
    [title]="(measurement.id ? 'Edit ' : 'New ') + measurementType.name" [confirmButtonText]="'Save ' + measurementType.name"
    (cancel)="bodyMeasurementService.cancelEditing()"
    (confirm)="saveBodyMeasurement()"
>
    <form [formGroup]="measurementForm" (keyup.enter)="saveBodyMeasurement()">
        <div class="form-group">
            <label for="inputMeasurement" i18n>{{ this.measurementType.capitalizedName + ' (' + this.measurementType.unitSymbol + ')'}}</label>
            <input type="number" 
                class="form-control" 
                id="inputMeasurement"
                [placeholder]="measurementText"
                formControlName="measurement"
                [class.is-invalid]="measurementInvalid"
            >
            <div class="invalid-feedback" *ngIf="measurementInvalid" i18n>
                Please enter a valid {{ measurementText }}
            </div>
        </div>
        <div class="form-group">
            <label for="inputCalories" i18n>Calories (kcal)</label>
            <input type="number" 
                class="form-control" 
                id="inputCalories"
                placeholder="Calories in kcal"
                formControlName="calories"
                [class.is-invalid]="caloriesInvalid"
            >
            <div class="invalid-feedback" *ngIf="caloriesInvalid" i18n>
                Please enter a valid amount of calories
            </div>
        </div>
        <div class="form-group">
            <label for="inputDate" i18n>Date measured</label>
            <input type="date" 
                class="form-control" 
                id="inputDate"
                formControlName="date"
                [class.is-invalid]="dateInvalid"
            >
            <div class="invalid-feedback" *ngIf="dateInvalid" i18n>
                Please enter a valid date
            </div>
        </div>
        <div class="form-group">
            <label for="inputPartOfDay" i18n>Part of day</label>
            <select class="custom-select" formControlName="time" id="inputPartOfDay">
                <option [selected]="time === timeOfDayEnum.MORNING" [value]="timeOfDayEnum.MORNING" i18n>Morning</option>
                <option [selected]="time === timeOfDayEnum.AFTERNOON" [value]="timeOfDayEnum.AFTERNOON" i18n>Afternoon</option>
                <option [selected]="time === timeOfDayEnum.EVENING" [value]="timeOfDayEnum.EVENING" i18n>Evening</option>
            </select>
        </div>
    </form>
</app-confirmation-dialog>