<div class="card text-white bg-dark mb-3 text-center">
    <div class="card-body">
        <h4 class="card-title" i18n>Welcome to PWRLifts!</h4>
        <p class="card-text" i18n>PWRLifts is an application to keep track of your progress in Powerlifting, using nice visualisation tools like charts.
            <br/>
            Currently, you can keep track of: bodyweight, bodyfat percentage and your powerlifting 1RM's (1-rep-max), including the mood/rpe of that 1RM attempt.
            <br/>
        </p>
        <a class="btn btn-primary" routerLink="/auth">Get started!</a>
    </div>
</div>