<div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2 pb-2">
        <app-bodyfat-chart></app-bodyfat-chart>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2 text-right pb-2">
      <button class="btn btn-primary" i18n (click)="bodyfatService.startEditing()">New bodyfat</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
        <app-edit-bodyfat *ngIf="bodyfatService.editing$ | async" [bodyfat]="bodyfatService.editingBodyfat$ | async"></app-edit-bodyfat>
        <table class="table table-hover table-responsive-md">
            <thead class="thead-dark">
                <tr class="table-secondary">
                <th scope="col" i18n>Bodyfat (%)</th>
                <th scope="col" i18n>Date</th>
                <th scope="col" class="hideOnSmall" i18n>Time</th>
                <th scope="col" class="w-10" i18n>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-white bg-dark-gray" *ngFor="let measurement of bodyfatService.bodyfats$ | async">
                <td>{{ measurement.bodyfat }}</td>
                <td>{{ measurement.date | date:'dd-MM-yyyy' }}</td>
                <td class="hideOnSmall">{{ measurement.time }}</td>
                <td class="actions w-10">
                    <span class="oi oi-pencil pointer" (click)="bodyfatService.startEditingExisting(measurement)"></span>
                    <span class="oi oi-trash pointer danger" (click)="bodyfatService.delete(measurement.id)"></span>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>