<app-confirmation-dialog [confirmDisabled]="!weightForm.valid && weightForm.dirty"
    [title]="weight.id ? 'Edit Weight' : 'New weight'" confirmButtonText="Save weight"
    (cancel)="weightService.cancelEditing()"
    (confirm)="saveWeight()"
>
    <form [formGroup]="weightForm" (keyup.enter)="saveWeight()">
        <div class="form-group">
            <label for="inputWeight" i18n>Weight (kg)</label>
            <input type="number" 
                class="form-control" 
                id="inputWeight"
                placeholder="Weight in kilograms"
                formControlName="weight"
                [class.is-invalid]="weightInvalid"
            >
            <div class="invalid-feedback" *ngIf="weightInvalid" i18n>
                Please enter a valid weight
            </div>
        </div>
        <div class="form-group">
            <label for="inputCalories" i18n>Calories (kcal)</label>
            <input type="number" 
                class="form-control" 
                id="inputCalories"
                placeholder="Calories in kcal"
                formControlName="calories"
                [class.is-invalid]="caloriesInvalid"
            >
            <div class="invalid-feedback" *ngIf="caloriesInvalid" i18n>
                Please enter a valid amount of calories
            </div>
        </div>
        <div class="form-group">
            <label for="inputDate" i18n>Date measured</label>
            <input type="date" 
                class="form-control" 
                id="inputDate"
                formControlName="date"
                [class.is-invalid]="dateInvalid"
            >
            <div class="invalid-feedback" *ngIf="dateInvalid" i18n>
                Please enter a valid date
            </div>
        </div>
        <div class="form-group">
            <label for="inputWeight" i18n>Part of day</label>
            <select class="custom-select" formControlName="time">
                <option [selected]="time === timeOfDayEnum.MORNING" [value]="timeOfDayEnum.MORNING" i18n>Morning</option>
                <option [selected]="time === timeOfDayEnum.AFTERNOON" [value]="timeOfDayEnum.AFTERNOON" i18n>Afternoon</option>
                <option [selected]="time === timeOfDayEnum.EVENING" [value]="timeOfDayEnum.EVENING" i18n>Evening</option>
            </select>
        </div>
    </form>
</app-confirmation-dialog>