<app-confirmation-dialog [confirmDisabled]="!bodyfatForm.valid && bodyfatForm.dirty"
    [title]="bodyfat.id ? 'Edit Bodyfat' : 'New bodyfat'" confirmButtonText="Save Bodyfat"
    (cancel)="bodyfatService.cancelEditing()"
    (confirm)="saveBodyfat()"
>
    <form [formGroup]="bodyfatForm" (keyup.enter)="saveBodyfat()">
        <div class="form-group">
            <label for="inputBodyfat" i18n>Bodyfat (%)</label>
            <input type="number" 
                class="form-control" 
                id="inputBodyfat"
                placeholder="Bodyfat percentage"
                formControlName="bodyfat"
                [class.is-invalid]="bodyfatInvalid"
            >
            <div class="invalid-feedback" *ngIf="bodyfatInvalid" i18n>
                Please enter a valid bodyfat percentage
            </div>
        </div>
        <div class="form-group">
            <label for="inputDate" i18n>Date measured</label>
            <input type="date" 
                class="form-control" 
                id="inputDate"
                formControlName="measuredOn"
                [class.is-invalid]="measuredOnInvalid"
            >
            <div class="invalid-feedback" *ngIf="measuredOnInvalid" i18n>
                Please enter a valid date
            </div>
        </div>
        <div class="form-group">
            <label for="inputPartOfDay" i18n>Part of day</label>
            <select class="custom-select" formControlName="partOfDayMeasured" id="inputPartOfDay">
                <option [selected]="partOfDayMeasured === timeOfDayEnum.MORNING" [value]="timeOfDayEnum.MORNING" i18n>Morning</option>
                <option [selected]="partOfDayMeasured === timeOfDayEnum.AFTERNOON" [value]="timeOfDayEnum.AFTERNOON" i18n>Afternoon</option>
                <option [selected]="partOfDayMeasured === timeOfDayEnum.EVENING" [value]="timeOfDayEnum.EVENING" i18n>Evening</option>
            </select>
        </div>
    </form>
</app-confirmation-dialog>