@import "./bootstrap-override.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

a.nav-link,
.dropdown-item {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.bg-dark-gray {
    background-color: lighten($dark, 10)
}

.bg-dark-gray > .dropdown-item {
    color: $light !important;

    &:hover {
        background-color: $secondary;
    }
}

tr.bg-dark-gray:hover {
    background-color: $secondary !important;
}

thead tr:hover > th {
    background-color: lighten($dark, 5) !important;
}

.oi:not(.danger):hover,
.icon-hover:hover {
    color: $primary;
}

.oi.danger:hover {
    color: $danger;
}

.actions > span {
    padding-right: 5px;
}

.actions > span:last-child {
    padding: 0;
}

@media (max-width: 576px) {
    .hideOnSmall {
        display:none;
    }
}